@(title: String)(implicit environment: play.api.Environment)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="https://maps.googleapis.com/maps/api/js"> </script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("styles/styles.css")">
    </head>
    <body>
        <div id="mountNode"></div>
        @playscalajs.html.scripts("frontend")
    </body>
</html>
